* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #6200ea;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li {
  cursor: pointer;
  color: white  !important;
}
